{
    "Bot": {
        "CreatedTimestamp": "2019-08-05T06:08:11.654Z", 
        "DisplayName": "Queuer-Bot (Bot)", 
        "Disabled": false, 
        "UserId": "c3deb3c9-4da9-4659-b920-82b696753a91", 
        "BotId": "c3deb3c9-4da9-4659-b920-82b696753a91", 
        "UpdatedTimestamp": "2019-08-05T06:08:11.654Z", 
        "BotType": "ChatBot", 
        "SecurityToken": "eH26+6ZWUsNn9E6E1qoBMfJVldGjqPPdY5B8ibCTvvI=", 
        "BotEmail": "queuer-bot-chimebot@nasika.not-used-for-prod.workshops.bones.a2z.com"
    }
}
